.d-flex.justify-content-end.border-left-brown
  .d-flex.mx-2
    - I18n.available_locales.each do |locale|
      = button_to I18n.t("global.#{locale}_switch"), locale_path(locale), method: :put, class: "btn border-brown animated-shadow font-weight-bold #{'disabled' if current_locale?(locale)}"
