li.nav-item.d-flex.bookmark.bookmark-border.light-brown = link_to t('sidebar.profile'), current_user.profile, class: "btn-lg font-weight-bold mx-2"
li.nav-item.d-flex.bookmark.bookmark-border.light-brown = link_to t('sidebar.books'), books_path, class: "btn-lg font-weight-bold mx-2"
li.nav-item.d-flex.bookmark.bookmark-border.light-brown = link_to t('sidebar.cart'), current_user.cart, class: "btn-lg font-weight-bold mx-2"
li.nav-item.d-flex.bookmark.bookmark-border.light-brown = link_to t('sidebar.shelf'), current_user.shelf, class: "btn-lg font-weight-bold mx-2"
