= simple_form_for([:admin, @category]) do |f|
  .field.mb-4
    = f.input :category_name, placeholder: t('admin.categories.form.category_name_placeholder')
  = f.submit t('global.forms.submit'), class: 'btn border-brown animated-shadow font-weight-bold w-100'
